<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>RecipeId</th>
        <th>RecipeName</th>
        <th>RecipeColor</th>
        <th>RecipeCost</th>
        <th>Ingredients</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr>
        <td>{{c._id}}</td>
        <td>{{c.recipeId}}</td>
        <td>{{c.recipename}}</td>
        <td>{{c.recipecolor}}</td>
        <td>{{c.recipecost}}</td>
        <td>{{c.ingredients}}</td>
      </tr>
    </tbody> -->
  </table>